@font-face {
    font-family: 'fairfaxhd';
    src: url('../fonts/fairfaxhd.ttf') format('truetype');
}

body {
    background-color: #000;
    text-align: center;
}

pre {
    display: inline-block;
    text-align: left;
    color: #fff;
    font-family: fairfaxhd, monospace;
    margin: 0;
    line-height: 1;
    font-size: 3.75vh;
}

.a {
    color: palegoldenrod;
    background-color: black;
}

.b {
    color: black;
    background-color: black;
}

.c {
    color: yellow;
    background-color: cadetblue;
}

.d {
    color: aquamarine;
    background-color: cadetblue;
}

.e {
    color: red;
    background-color: cadetblue;
}

.f {
    color: palevioletred;
    background-color: black;
}

.p1 {
    color: DarkOrange;
    background-color: black;
}

.p2 {
    color: DarkGreen;
    background-color: black;
}

.p3 {
    color: DarkTurquoise;
    background-color: black;
}

.p4 {
    color: DarkSlateGray;
    background-color: black;
}

.p5 {
    color: DarkOrchid;
    background-color: black;
}

.g {
    color: gold;
    background-color: black;
}

.h {
    color: red;
    background-color: black;
}

.i {
    color: green;
    background-color: black;
}

.j {
    color: darkred;
    background-color: black;
}

.k {
    color: blueviolet;
    background-color: black;
}